/*Index 4*/

a {
    color: rgb(46, 179, 46);
}

footer {
    background-color: rgb(116, 250, 27);
}

.twilightHeader {
    text-align: end;
}

.greenh {
    color: rgb(46, 179, 46);
}

.btn-light {
    color: darkgray;
}

.btn-light:hover {
    color:white;
    background-color: gray;
}

.btn-light:active {
    color:white;
    background-color: gray;
}